<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LdapConnection" type="LdapConnectionConfigurationSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <LdapConnection 
    server="localhost" 
    user="cn=ServiceAccount,cn=People,cn=Sandbox,dc=ITOrg" 
    baseDn="cn=Sandbox,dc=ITOrg" 
    password="p@ssw0rd" 
    newUsersContainerDn="cn=People,cn=Sandbox,dc=ITOrg"/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="LdapServices.LdapClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=a8ca917b5ce3c5de"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx"/>
		</authentication>
		<customErrors mode="RemoteOnly"/>
	</system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	<location path="Protected.aspx">
		<system.web>
			<authorization>
				<allow roles="CN=Users.CN=Roles.CN=Sandbox.DC=ITOrg, CN=Administrators.CN=Roles.CN=Sandbox.DC=ITOrg"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow roles="CN=Administrators.CN=Roles.CN=Sandbox.DC=ITOrg"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
