<div ng-show="pageList[0].Page">
    <form novalidate role="form" name="form1">
        @*First Box*@
        <div class="col-md-4">
            <div class="box-body">
                <div class="form-group">
                    <label>FTA Application Code</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessSector" ng-change="userfilter()" ng-options="item.BusinessSectorName for item in BusinessSectorMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Business Master -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Business Suffix</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessSector" ng-change="userfilter()" ng-options="item.BusinessSectorName for item in BusinessSectorMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Business Master -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Child ID</label>
                    <select class="form-control" name="ddlApp" ng-model="selectModel.Application" ng-options="item.ApplicationName for item in ApplicationMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Application -</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Country </label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Country" ng-change="userfilter()" ng-options="item.CountryName for item in CountryMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Country -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>FTA Strategy Name</label>
                    <select class="form-control" name="ddlProduct" ng-model="selectModel.ProductType" ng-options="item.ProductName for item in ProductMasterList" title="Select Product" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Product -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>System Flow</label>
                    <select class="form-control" name="ddlProduct" ng-model="selectModel.ProductType" ng-options="item.ProductName for item in ProductMasterList" title="Select Product" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Product -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Strategy type</label>
                    <select class="form-control" name="ddlProduct" ng-model="selectModel.ProductType" ng-options="item.ProductName for item in ProductMasterList" title="Select Product" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Product -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Go-Live date</label>
                    <div class="col-lg-12">
                        <div class='input-group date' datetimepicker ng-model="TransferFrom">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*First Box end*@
        @*Second Box start*@
        <div class="col-md-4">
            <div class="box-body">
                <div class="form-group">
                    <label>FTA Strategy Code</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessSector" ng-change="userfilter()" ng-options="item.BusinessSectorName for item in BusinessSectorMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Business Master -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>FTA Short Code</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessSector" ng-change="userfilter()" ng-options="item.BusinessSectorName for item in BusinessSectorMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Business Master -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Business Line</label>

                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>FTA Application Name</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>FTA Strategy Owner</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Application Category</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Venue type</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Decommissioned Date</label>
                    <div class="col-lg-12">
                        <div class='input-group date' datetimepicker ng-model="TransferFrom">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*Second Box end*@
        @*3rd Box start*@
        <div class="col-md-4">
            <div class="box-body">
                <div class="form-group">
                    <label>Discretionary Code</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessSector" ng-change="userfilter()" ng-options="item.BusinessSectorName for item in BusinessSectorMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Business Master -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Parent ID</label>

                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessSector" ng-change="userfilter()" ng-options="item.BusinessSectorName for item in BusinessSectorMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Business Master -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Region</label>

                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>FTA Application Owner</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Strategy Description</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Capacity</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Decommissioned Evidence</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-change="userfilter()" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>

                @*FTA Owner Attestation*@




            </div>
        </div>
        @*3rd Box end*@
    </form>
    <div class="form-group col-lg-12">
        <div class="col-sm-offset-2 col-sm-10">
            <span>
                <input type="button" value="Prev" ng-show="!IsModelAlgopage" ng-click="activateTab(3)" class="btn btn-primary" />
            </span>&nbsp;
            <span>
                <input type="button" value="Next"  ng-click="activateTab(1)" class="btn btn-primary" />
            </span>&nbsp;
            <input type="button" value="Cancel" ng-click="Confirmcancel()" class="btn btn-primary cancel" />
        </div>
    </div>
</div>
<div ng-show="pageList[1].Page">
    <form novalidate role="form" name="form2">

        <div class="col-md-12">
            <div class="box-body">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Enter the description"></textarea>
                </div>
         
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    SIGN OFF
                </label>
            </div>

        </div>
    

    </form>
    <div class="form-group col-lg-12">
        <div class="col-sm-offset-2 col-sm-10">
            <span>
                <input type="button" value="Prev" ng-click="activateTab(0)" class="btn btn-primary" />
            </span>&nbsp;
            @*<span>
                <input type="button" value="Next" ng-disabled="form2.$invalid" ng-click="activateTab(2)" class="btn btn-primary" />
            </span>&nbsp;*@

            <input type="button" value="Cancel" ng-click="Confirmcancel()" class="btn btn-primary cancel" />
        </div>
    </div>
</div>

