@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Ajax.BeginForm("Index", "UserManagement",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search" }))
{
    <legend>User Management </legend>
    <div class="input-append">
        <div class="col-lg-8">
            <input class="ui-igedit-field" id="appendedInputButton" type="text" name="user_name" placeholder="Emp Name" />
            <button class="btn search" type="submit">
                <i class="icon-search"></i>&nbsp;Search</button>
        </div>


        <div class="col-lg-4">
            <a class="btn btn-Success pull-right" data-backdrop="static" data-toggle="modal" href="#create-modal" id="createuser-modal"><i class="fa fa-plus"></i>&nbsp Add User</a>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div id="grid-list">

        @{ Html.RenderPartial("_AjaxUsersList"); }
    </div>
}

@Html.Partial("_CreateUser", new UserViewModel())
@Html.Partial("_EditUser", new UserViewModel())
@Html.Partial("_HierarchyUser", new UserViewModel())
@Html.Partial("_UpdatePassword", new UserViewModel())