<section class="content" ng-app="reportApp" ng-controller="MapClientTaskController">
    <div class="modal fade" id="currencyModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:75%;margin-top:10%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add Map Task</h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit Map Task</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="form-horizontal" role="form" name="addcurrencyform">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Client Number</label>
                            <div class="col-sm-8">
                                <input data-ng-show="editMode" class="form-control" style="height:33px" numberdotonly type="text" maxlength="8" ng-model="ecurrency.ClientNumber" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TypeID" class="col-sm-4 control-label">Task</label>
                            <div class="col-sm-6" style="margin-top:6px">
                                <multiselect placeholder="Select Region..." ms-config="multiselectRegion.config"
                                             ms-options="multiselectRegion.options" ms-model="multiselectRegion.selected">
                                </multiselect>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <input type="button" value="Update" data-ng-click="UpdatecurrencyConversion(ecurrency)" class="btn btn-primary" />
                                <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary cancel" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 col-sm-offset-2 control-label label-danger" ng-show="errorinfo.length > 0">{{errorinfo}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:25%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3c8dbc;color:white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                </div>
                <br />
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-ng-click="delete()">Yes</button>
                    <button type="button" class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page_status">
        <a ng-click="getallcurrencyconversions()" style="margin: 0 -5px;">
            <div class="status_completed" ng-class="{'active': selectedarea ==  'AllTask' }">
                <div class="number">
                    {{totaltask}}
                </div>
                <div class="status_txt">
                    All Task
                </div>
            </div>
        </a>
        <a ng-click="GetMappingTask(true)">
            <div class="status_completed" ng-class="{'active': selectedarea ==  'MapTask' }">
                <div class="number">
                    {{Mappedtask}}
                </div>
                <div class="status_txt">
                    Mapped Task
                </div>
            </div>
        </a>
        <a ng-click="GetUnMappingTask(true)">
            <div class="status_completed" ng-class="{'active': selectedarea ==  'UnMapTask' }">
                <div class="number">
                    {{UnMappedtask}}
                </div>
                <div class="status_txt">
                    UnMapped Task
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-12 data-table">
        <div class="row">
            <table class="table table-responsive" datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
        </div>
    </div>
</section>
