<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="delete()">Ok</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="whitebg">
    <div class="box-header with-border">
        <h3 class="box-title">      Product Master Management    </h3>
    </div>

    <div ng-controller="ProductMasterController" class="nav-tabs-custom">
        <section class="content-header" style="padding-bottom:10px;">
            <div style="margin-top:20px;" class="form-group" ng-show="!IsReadOnly" ng-class="{'has-error':inputTask.$invalid && !inputTask.$pristine }">
                <div class="form-group">
                    @*<label for="inputTask" class="col-md-2 control-label">ProductId</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" maxlength="50" name="inputTask" ng-model=ProductMaster.ProductId>
                    </div>*@

                    <label for="inputTask" class="col-md-2  col-md-offset-2 control-label">Product Type </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" maxlength="50" name="inputTask" ng-model=ProductMaster.ProductName>
                    </div>
                    <div class="col-md-2">
                        <button title="Clear Task name field" data-ng-click="cancel()" class="btn btn-sm btn-info btn-flat pull-right btn-outline-info">Clear </button>
                        <button title="Update Task" data-ng-show="editMode" data-ng-click="UpdateProductMaster(ProductMaster)" class="btn btn-sm btn-info btn-flat pull-right btn-outline-info">Update</button><!--<i class="fa fa-plus" style="color:white"></i>-->
                        <button title="Add new task" data-ng-hide="editMode" data-ng-click="add(ProductMaster)" class="btn btn-sm btn-info btn-flat pull-right btn-outline-info">Add <i class="fa fa-plus" style="color:white"></i></button>
                    </div>
                </div>
            </div>

        </section>

        <section class="content" style="margin-top:30px;width:48%;margin-left:24%;">
            <div id="grid1" ui-grid="ProductMasterGrid" ui-grid-pagination class="grid"></div>

        </section>
    </div>
</div>












