<div class="whitebg" style="height:500px;">
    <section class="content-header" style="padding-bottom:10px;">
        <h1>            Product Type</h1>
        <ol class="breadcrumb">
            <li>
                <div class="actions">
                    <button data-ng-click="showadd()" class="btn btn-outline-info">Add <i class="fa fa-plus"></i></button>
                </div>
            </li>
        </ol>
    </section>



</div>
