<div ng-show="notificationExist">
    <div class="col-md-12">
        <div class="box-body">
            @*<div class="form-group">
                <h2>Approval Request</h2>
            </div>*@

            <div class="form-group">
                <label for="SBU" class="col-sm-3 control-label"></label>
                <div class="col-sm-8" style="margin-top:6px">
                    <label class="mt-checkbox mt-checkbox-outline">
                        Approved Status&nbsp;&nbsp; <input type="checkbox" ng-change="changestatus(Status)" ng-model="Status" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Comments</label>
                <textarea class="form-control" type="text" numberdotonly maxlength="4000" ng-model="currency.Comments" required> </textarea>
            </div>

            @*<div class="form-group">
                    <label>Status</label>
                    <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Status" required />
                </div>*@
          

            @*<div class="form-group">
                <div class="col-md-3"><label>Current Status</label></div>
                <div class="col-md-2">
                    <a ng-show={{ OStatus == true }}><i class="fa fa-check"></i></a>
                    <a ng-show={{ OStatus == false }}><i class="fa fa-close"></i></a>
                </div>
            </div>*@
        </div>


    </div>

</div>