<div class="col-md-6">
    <div class="box-body">
        <div class="form-group">
            <label>Strategy Referrence Number</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.RefNumber" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.RefNumber" required />
        </div>
        <div class="form-group">
            <label>Strategy Type</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Type" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Type" required />
        </div>
        <div class="form-group">
            <label>Application ID</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.ApplicationId" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.ApplicationId" required />
        </div>
        <div class="form-group">
            <label>Country</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Country" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Country" required />
        </div>
        <div class="form-group">
            <label>Product Type</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.ProductType" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.ProductType" required />
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box-body">
        <div class="form-group">
            <label>Name of Strategy</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Name" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Name" required />
        </div>
        <div class="form-group">
            <label>Application Name</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.ApplicationName" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.ApplicationName" required />
        </div>
        <div class="form-group">
            <label>Business Sector</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.BusinessSector" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.BusinessSector" required />
        </div>

        <div class="form-group">
            <label>Region</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Region" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Region" required />
        </div>
        <div class="form-group">
            <label>Strategy Ranking</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Ranking" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Ranking" required />
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box-body">
        <div class="form-group">
            <label>Objective of the Strategy</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Objective" />
            <textarea data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="4000" ng-model="currency.Objective" required> </textarea>
        </div>

        <div class="form-group">
            <label>Detailed Description of the Strategy</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.Description" />
            <textarea data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="4000" ng-model="currency.Description" required> </textarea>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="box-body">
        <div class="form-group">
            <label>Risk Rating</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.RiskRating" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.RiskRating" required />
        </div>
        <div class="form-group">
            <label>Exchange Details</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.ExchangeDetails" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.ExchangeDetails" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 2</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam2" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam2" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 4</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam4" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam4" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 6</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam6" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam6" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 8</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam8" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam8" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 10</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam10" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam10" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 12</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam12" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam12" required />
        </div>

        @*<div class="form-group">
            <label>Region</label>
            <select>
                <option value="volvo">Asia Pacific</option>
                <option value="audi">North America</option>
                <option value="audi">South America</option>
                <option value="audi">Middle East and Africa</option>
                <option value="audi">Western Europe</option>
            </select>
            <select>
                <option value="volvo">
                    Afghanistan
                </option>
                <option value="audi">
                    Albania
                </option>
                <option value="audi">
                    Algeria
                </option>
                <option value="audi">
                    Andorra
                </option>
                <option value="audi">
                    Angola
                </option>
                <option value="audi">
                    Antigua and Barbuda
                </option>
                <option value="audi">
                    Argentina
                </option>
                <option value="audi">
                    Armenia
                </option>
                <option value="audi">
                    Australia
                </option>
                <option value="audi">
                    Austria
                </option>
                <option value="audi">
                    Azerbaijan
                </option>
                <option value="audi">
                    Bahamas
                </option>
                <option value="audi">
                    Bahrain
                </option>
                <option value="audi">
                    Bangladesh
                </option>
                <option value="audi">
                    Barbados
                </option>
                <option value="audi">
                    Belarus
                </option>
            </select>

            <select>
                <option value="volvo">
                    Futures
                </option>
                <option value="audi">
                    Equities
                </option>
                <option value="audi">
                    Indices
                </option>
                <option value="audi">
                    Warrants
                </option>
                <option value="audi">
                    Bonds
                </option>
                <option value="audi">
                    Rates
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Division</label>
            <select>
                <option value="volvo">Division 1</option>
                <option value="audi">Division 2</option>
            </select>
        </div>*@
    </div>
</div>
<div class="col-md-6">
    <div class="box-body">
        <div class="form-group">
            <label>Business Impact</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.BusinessImpact" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.BusinessImpact" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 1</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam1" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam1" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 3</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam3" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam3" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 5</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam5" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam5" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 7</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam7" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam7" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 9</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam9" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam9" required />
        </div>

        <div class="form-group">
            <label>Additional Parameter 11</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam11" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam11" required />
        </div>
        <div class="form-group">
            <label>Additional Parameter 13</label>
            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.AdditionalParam13" />
            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.AdditionalParam13" required />
        </div>

        @*<div class="form-group">
            <label>Country</label>
        </div>

        <div class="form-group">
            <label>Business sector</label>
        </div>*@

    </div>
</div>
<div class="col-lg-12">
    <div class="form-group  row ">
        <div class="col-sm-5" style="margin-left:15px;">
            <div class="list-group box-comments" id="list1Estimation" style="height:250px;overflow-x:auto">
                <a href="javascript:;" class="list-group-item active grouppadding">
                    Available Approvers
                    <input style="color:black;margin-left:5px;" ng-model="search.Approver" />
                </a>
                <span ng-repeat="right in listA_Estimation | filter:{Approver: search.Approver}">
                    <a href="javascript:;" data-id="{{right.Id}}" class="list-group-item grouppadding">
                        {{right.Approver}}
                        <input ng-model="isCheckedA_Estimation" ng-click="stateAChanged_Estimation(isCheckedA_Estimation, right.Approver)" name="selectedA_Estimation[]" value="{{right.Approver}}" class="pull-right" type="checkbox" ng-true-value="true" ng-false-value="false">
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-1 v-center text-center">
            <br />
            <br />
            <br />
            <div class="btn-group-vertical">
                <button class="btn btn-outline-info" ng-click="AlltoA_Estimation()" id="btnAllA_Estimation"><i class="fa fa-angle-double-left"></i></button>
                <button class="btn btn-outline-info" ng-click="bToA_Estimation()" id="btnA_Estimation"><i class="fa fa-angle-left"></i></button>
                <button class="btn btn-outline-info" ng-click="aToB_Estimation()" id="btnB_Estimation"><i class="fa fa-angle-right"></i></button>
                <button class="btn btn-outline-info" ng-click="AlltoB_Estimation()" id="btnAllB_Estimation"><i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="list-group box-comments" id="list2Estimation" style="height:250px;overflow-x:auto">
                <a href="javascript:;" class="list-group-item active grouppadding">
                    Selected Approver(s)
                    <input style="color:black;margin-left:5px;" ng-model="search.rApprover" />
                </a>
                <span ng-repeat="right in listB_Estimation | filter:search.rApprover">
                    @*| orderBy:'right.productApprover'*@
                    <a href="javascript:;" data-id="{{right.Id}}" class="list-group-item grouppadding">
                        {{right.Approver}}
                        <input id="{{right.Approver}}" ng-model="isCheckedB_Estimation" ng-click="stateBChanged_Estimation(isCheckedB_Estimation, right.Approver)" name="selectedB_Estimation[]" value="{{right.Approver}}" class="pull-right" type="checkbox" ng-true-value="true" ng-false-value="false">
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

