<!-- BEGIN PAGE BREADCRUMBS -->
<div ng-controller="ChangeManagementController" class="whitebg">
    <div class="box-header with-border">
        <h3 class="box-title">     Change  Management</h3>
    </div>

    <section class="content">
        <div class="row">
            <div class="form-group col-lg-6">
                <label>Strategy RefNumber</label>

                <select class="form-control" ng-model="RefNumber" ng-change="GetVersions(RefNumber)" title="Select Role" style="width:100%;font-size: 0.8em" required>
                    <option value="">- Select Version-</option>
                    <option ng-repeat="x in Strategydata" value="{{x.RefNumber}}">{{x.RefNumber}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div id="grid1" ui-grid="CurrencyGrid" ui-grid-pagination class="grid"></div>
        </div>
    </section>

    <div ng-include="'ViewApprovals'"></div>
    <div class="modal fade" id="currencyModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" style="width:75%">
            <div class="modal-content">
                <div class="modal-header content-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">Edit Model/Algo Details</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <div class="box-body">
                                <div class="col-md-6">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Details of changes performed</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.DetailsOfChanges" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Date change Initiated</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.DateChangeInitiated" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Attribute 1</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Attribute1" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Attribute 3</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Attribute3" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Business Impact</label>
                                            <input data-ng-show="editMode" class="form-control" numberdotonly type="text" maxlength="50" ng-model="ecurrency.ClientNumber" />
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.BusinessImpact" required />
                                        </div>

                                        <div class="form-group">
                                            <label>Date change implemented</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.DateChangeImplemented" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Attribute 2</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Attribute2" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Attribute 4</label>
                                            <input data-ng-hide="editMode" class="form-control" type="text" numberdotonly maxlength="50" ng-model="currency.Attribute4" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Supporting documents</label>
                                            <input type="file" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-include="'ShowApplicationDetails'"></div>
                                    <div class="form-group col-lg-12">
                                        <div class="col-sm-offset-4 col-sm-10">
                                            <span>
                                                <input type="button" value="Update" ng-click="UpdateChange(currency)" class="btn btn-outline-info" />
                                            </span>&nbsp;
                                            <span>
                                                <input type="button" value="Add New Version" ng-click="SaveNewversionStrategy(currency)" class="btn btn-outline-info" />
                                            </span>&nbsp;
                                            <input type="button" value="Cancel" data-ng-click="cancel()" class="btn  btn-circle btn-default btn-outline-info" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-sm-offset-2 control-label label-danger" ng-show="errorinfo.length > 0">{{errorinfo}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:25%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3c8dbc;color:white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                </div>
                <br />
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-ng-click="delete()">Yes</button>
                    <button type="button" class="btn btn-sm btn-circle btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
